body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

#contentG {
  width: 100%;
}

#reloadButton {
  width: 5vw;
  height: 5vw;
  position: fixed;
  right: 8.5vw;
  top: 2vw;
  opacity: 0.3;
}

#reloadButton:hover {
  opacity: 1;
  transition: 0.3;
}

#icon {
  width: 100%;
}
