body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden; /* Prevent scrolling */
}

.image {
  padding: 50px;
  margin: 50px;
  border-radius: 5px;
  cursor: pointer;
}

#follower {
  position: absolute;
  width: auto;
  padding: 5px 10px;

  border-radius: 5px;
  pointer-events: none; /* Prevent interference with mouse events */
  transition: background-color 0.2s, opacity 0.2s; /* Added transition for opacity */
}

#follower:hover {
  background-color: rgba(0, 255, 150, 0.7);
}
