body {
  font-size: 10px;
  overflow: hidden;
}

.grandParent {
  display: flex;
  align-items: left;
  justify-content: left;
  width: fit-content;
  height: fit-content;
  position: fixed;
  background-color: white;
  overflow: scroll;
}

.ornamentT0 {
  width: 180%;
  z-index: 50;
  position: relative;
  left: -40%;
  top: 40%;
}

.ornamentT1 {
  width: 130%;
  z-index: 50;
  position: relative;
  left: -15%;
  top: 50%;
}

.ornamentT2 {
  width: 110%;
  z-index: 50;
  position: relative;
  left: -5%;
  top: 30%;
}

.ornamentB2 {
  width: 110%;
  z-index: 50;
  position: relative;
  left: -5%;
  top: -10%;
}

.ornamentT3 {
  width: 110%;
  z-index: 50;
  position: relative;
  left: -5%;
  top: 30%;
}
.ornamentB3 {
  width: 110%;
  z-index: 50;
  position: relative;
  left: -5%;
  top: -10%;
}
.cornice_0 {
  width: 100%;
}

.ornamentB1 {
  width: 120%;
  z-index: 50;
  position: relative;
  left: -10%;
  top: -40%;
}

.ornamentB0 {
  width: 100%;
  position: relative;
  top: -25%;
}

.corniceDivCont {
  display: flex;
  flex-direction: row;
}

.windowImg {
  width: 100%;
}
.buttonContainer {
  position: fixed;
  width: 10vw;
  top: 20%;
  left: 90%;
  display: flex;
  flex-direction: column;
}

.homeIcon {
  height: 20px;
}

.hButton:hover {
  backdrop-filter: blur(3px);
}
.innerButton {
  backdrop-filter: blur(3px);
}

.innerButton:hover {
  border-width: 0.5px;
  border-color: rgb(206, 206, 206);
  border-style: solid;
}
.lButton:hover {
  backdrop-filter: blur(3px);
}

.hButton {
  border-width: 0.5px;

  display: flex;
  flex-direction: column;
}

.lButton {
  border-width: 0.5px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.parent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: min-content;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0.063);
  padding: 20%;
  border-radius: 5%;
  border-color: white;
}

a {
  text-decoration: none;
  color: black;
}

.center-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#buildingCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-content: center;
  align-items: center;
  scale: 1;
}
.unitContainer {
  display: flex;
  flex-direction: column;
  height: 20em;
  width: 13em;
}

.architec {
  border-color: rgba(245, 229, 229, 0.449);
  border-style: dashed;
  border-width: 0.2px;
}
#FacadeDiv {
  height: 100%;
  display: flex;
  flex-direction: row;
}
#CorniceDiv {
  height: 5em;
}

.cornice0 {
  width: 100%;
}

.left {
  width: 20%;
}

.leftInner {
  height: 33%;
}

.right {
  width: 20%;
}

.rightInner {
  height: 33%;
}

.center {
  width: 60%;
}

#windowDiv {
  height: 60%;
}

.ornament {
  height: 20%;
}

.clickable img:hover {
  filter: blur(1px);
  transition: opacity 0.3s; /* Add a transition for smooth effect */
}
