body {
  user-select: none;
  filter: invert(1);
}

#wrap {
  position: absolute;
  top: 20vh;
  left: 40vw;
  height: 235px;
}
#windowContainer {
  width: 20vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
img {
  width: 100%;
  pointer-events: none;
}
#windowTop {
  position: relative;
  height: 235px;
}
#windowBottom {
  width: 92%;
  position: absolute;
  top: calc(100% - 80%);
  cursor: grab;
}
