body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  font-size: 2vw;
}

.window {
  background-color: #000000;
  border-radius: 0.5em;
  color: black;
  height: 12em;
  width: 15em;
  position: absolute;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  padding: 10px;
  -webkit-backdrop-filter: blur(
    15px
  ); /* Add this line first, it fixes blur for Safari*/
  backdrop-filter: blur(20px);
}
#window1 {
  border: 1px solid #ffffff;
  height: 10rem;
  width: 5rem;
  border-radius: 0em;
  z-index: -100;
}

#window2,
#window3,
#window4,
#window5,
#window6,
#window7 {
  background-color: rgba(90, 90, 90, 0.2);
  border: 0.5px solid #292929;
  padding: 0.5em;
  color: #ffffff;
}

#window2 {
  height: 12rem;
  width: 5rem;
}

#window3 {
  height: 10rem; /* Increased height for extra buttons */
  width: 7rem; /* Increased width for extra buttons */
}

#window4 {
  height: 5rem; /* Increased height for extra buttons */
  width: 7rem; /* Increased width for extra buttons */
}

#window5 {
  height: 7rem; /* Increased height for extra buttons */
  width: 8rem; /* Increased width for extra buttons */
}

#window6 {
  height: 10rem; /* Increased height for extra buttons */
  width: 7rem; /* Increased width for extra buttons */
}

#window7 {
  height: 10rem; /* Increased height for extra buttons */
  width: 7rem; /* Increased width for extra buttons */
}

#window1:hover {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0), 0 0 0 2px rgba(0, 0, 0, 0),
    0.3em 0.3em 1em rgba(0, 0, 0, 0);
}

.close-btn {
  background-color: rgba(176, 0, 0, 0);
  color: rgb(255, 0, 0);
  border: 1px solid #ffffff;

  border-radius: 50%;
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 1px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: rgb(255, 0, 0);

  transition: 0.1s;
}

.button-container {
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
  background-color: #00000000;
  color: white;
  border-radius: 5px;
}

.two-buttons-container {
  bottom: 10px;
  left: 10px;
  display: flex;

  flex-direction: column;
  height: 80%;
  justify-content: space-between;
  align-items: start;
  padding-top: 10%;
}

h1 {
  font-size: 1rem;
  text-align: left;
  font-weight: bold;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#circleCont {
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 0.8rem;
  text-align: left;
}

#headerCont {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 0.75rem;
}

#buttonParent {
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
}

#rangeValueCont {
  height: 30%;
}
#opt {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 100%;
}

.windownContentCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 0.4rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 0.5rem;
  margin-block-start: -0.2rem;
  margin-block-end: -0.6rem;
  color: #5b5b5b;
}

h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: normal;
  font-weight: 100;
  line-height: 25px;
  font-style: normal;
  font-weight: 10;
  font-size: 3rem;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#rangeCont {
  transform: rotate(270deg);

  width: 8rem;
  position: relative;
  top: 2.7rem;
  left: -3rem;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 75%; /* Ensures the range slider adapts to container width */
  height: 1.5vw; /* Responsive height */
}

/* Chrome, Safari, Opera and Edge Chromium styles */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #4c4c4c97;
  border-radius: 12rem;
  height: 1.5vw; /* Responsive height */
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: 0.12rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 1vw; /* Responsive thumb height */
  width: 7vw; /* Responsive thumb width */
}

input[type="range"]::-moz-range-track {
  background-color: #4c4c4c97;
  border-radius: 12rem;
  height: 1.5vw; /* Responsive height */
}
#rangeOpt {
  width: 20%;
}

input[type="range"]::-moz-range-thumb {
  background-color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  height: 2vw; /* Responsive thumb height */
  width: 2vw; /* Responsive thumb width */
}

.carousel-container {
  padding-top: 10%;
  position: relative;
  width: 50%;
  margin: auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-images {
  display: flex;
}

.carousel-image {
  width: 100%;
  height: auto;
  display: block;
}

.but {
  position: fixed;
  top: 60%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.but.prev {
  left: 0;
}

.but.next {
  right: 0;
}

.but:hover {
  filter: blur(1px);
}

/* Grid Styles */
.grid-container {
  padding-top: 10%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-template-rows: repeat(3, 1fr); /* 3 equal rows */
  gap: 5px; /* Spacing between grid items */
  width: 5rem;
  height: 5rem;
}

.grid-item {
  border-radius: 1em;
  background-color: #4c4c4c97;

  transition: 0.4s ease;
  box-sizing: border-box;
}

/* Hover Effect - Inset Shadow */

/* Active State - Keep Shadow when Selected */
.grid-item.selected {
  background-color: rgb(255, 255, 255);
}

.toggle-container {
  display: flex;
  flex-direction: column;
  gap: 1em; /* Adjusted gap for smaller screens */
}

.toggle-switch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-switch input {
  display: none;
}

.toggle-switch .slider {
  position: relative;
  width: 3vw;
  height: 1.5vw;
  background-color: #4c4c4c97;
  border-radius: 25px;
  transition: 0.3s;
  cursor: pointer;
}

.toggle-switch .slider:before {
  content: "";
  position: absolute;
  top: 1.7px;
  left: 1.7px;
  width: 1.2vw; /* Responsive width */
  height: 1.2vw; /* Responsive height */
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: 0.3s;
}

.toggle-switch input:checked + .slider {
  background-color: #4c4c4c;
}

.toggle-switch input:checked + .slider:before {
  transform: translateX(125%); /* Moves the thumb to the right */
}

.toggle-switch .label {
  margin-left: 10px;
  font-size: 1em; /* Responsive font size */
}

.innerWindowCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#svgCanvas {
  z-index: 1000;
}

.dacircles {
  cursor: pointer;
  transform-origin: center center;
  transition: transform 0.1s ease-out;
  z-index: 1000;
}
.outer-circle {
  fill: #ffffff;
}

.guideline-circle {
  fill: #ef0000;
}
.inner-circle {
  fill: #262626;
  cursor: pointer;
}
.guideline-circle {
  fill: none;
  stroke: none; /* Make the guideline circle invisible */
}
